{% extends 'base.html' %}

{% block title%} 
    Bienvenido
{% endblock %}




{% block content %}
    <div class="hero">
        <div class="hero-content">
            <div class="left">
                <h1> Soy desarrollador! </h1>
                <h1> Winston J. Guzmán </h1>
                <p> Construyo diferentes tipos de aplicaciones en Java, Python, Visual Basic totalmente dinamicas, utilizando manejo de bases de datos relacionales.</p>
                <a href="#contacto" class="btn"> Contáctame </a>
    
            </div>
            <div class="right">
                <img id="banner-a" src="{{ url_for('static', filename='data analysis.png')}}" alt="">
            </div>
            
        </div>
    </div>
    {% include 'portfolio/section-first.html' %}
    {% include 'portfolio/section-second.html' %}
    {% include 'portfolio/section-third.html' %}
{% endblock %}