<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1> Algunos proyectos realizados: </h1>
            
        </div>
        <div class="row vert-pad">
            <div class="card third">
                <h3> Mailer App </h3>
                <p> Aplicacion para envio de correos mediante API de <strong>Sendgrid</strong> </p>
                <a href="#" class="color-text"> Pulse aquí: </a>
            </div>

            <div class="card third">
                <h3> Gestor de clientes </h3>
                <p> Aplicación para gestionar clientes </p>
                <a href="{{url_for('static', filename='Libreta_Clientes.exe')}}" class="color-text"> Pulse aquí: </a>
            </div>

            <div class="card third">
                <h3> Lista de Tareas </h3>
                <p> Aplicacion para gestionar tareas </p>
                <a href="{{url_for('static', filename='db.exe')}}" class="color-text"> Pulse aquí: </a>
            </div>


            

        </div>
    </div>

</div>