<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1> Mi misión es desarrollar aplicaciones web y sitios para cualquier emprendedor o líder!</h1>
                <p> Soy un apasionado por la informática, programación (HTML, CSS, Bootstrap, Javascript, Java, Python, R, VBA, MySQL), tecnología (Arduino) y fanatico del autoaprendizaje de nuevas tecnologías. 
                </p>
            </div>
            <div class="right padded">
                <h1>
                    Cualquier contacto o sugerencia, me puedes contactar!
                </h1>
                <p>
                    Me puedes enviar un correo
                    <a class="color-text" href="#contacto"> Pulsa aquí: </a>
                </p>
            </div>
            

        </div>
    </div>

</div>