<div class="center padded">
    <div class="content">
        
        <div class="row vert-pad">
            <div class="left padded">
                <h1> Trabajemos juntos! </h1>
                <p> Siempre doy mi mejor esfuerzo para cumplir los indicadores, metas y adicionalmente los objetivos que tengan planteados, todo esto mediante un alto grado de eficacia, eficiencia y efectividad!</p>
            </div>
            <div class="right padded" id="contacto">
                <form action="/mail" class="contact-form" method="post">
                    <input type="text" name="name" id="name" placeholder="Nombre" required>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <textarea type="text" name="message" id="message" placeholder="Mensaje" required minlength="10" maxlength="150"></textarea>
                    <button class="btn full-width"> Enviar </button>


                </form>
                
            </div>

                    

        </div>
    </div>

</div>